<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align: center;">counter</h1>
    <p style="text-align: center;">{{session.counter}}</p>
    <div style="display: flex;justify-content: center;">
        <form action="/increment" method="post"><button>click</button></form>
            
        <form action="/reset" method="post">
            <button>Reset</button>
        </form>
    </div>
    
    
</body>
</html>